body {
  padding-left:0;
  ul {
    position:relative;
    label {
      position:absolute;
      right:0;
      top:-3.5rem;
      opacity:0.5;
      text-align:right;
      line-height:1;
      small {
        opacity:0.8;
      }
    }
  }
  ul.p, ul.figure, ul.table {
    list-style-type: none;  
    li.s {
      display:contents;
    }
  }

  &.col2, &.col3 {
    ul.p, ul.figure, ul.table {
      margin-top:4rem;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: left;
      // overflow: hidden;
      border-top: 3px solid #303030;
      
      padding-left:0;
      // padding-top:1rem;

      li.s {
        display: block;
        width:30rem;
        // border-left: 1px solid #303030;
        padding-bottom: 1.5rem;
        padding-left: 0;
        margin-right: 4rem;
        margin-top:0;
      }  
    }
  }
  &.col1 {
    #col1 {font-weight:bold; background-color:hotpink}
    ul.p, ul.figure, ul.table, ul.box {
      max-width:55rem;
    }
  }
  &.col2 {
    #col2 {font-weight:bold; background-color:hotpink}
    ul.p, ul.figure, ul.table, ul.box {
      max-width: 80rem;
      height: 60rem;
    }
  }
  &.col3 {
    #col3 {font-weight:bold; background-color:hotpink}
    ul.p, ul.figure, ul.table, ul.box {
      max-width: 110rem;
      height: 45rem;
    }
  }
}

.paren {
  opacity:0.6;
}

.tools {
  text-align:center;
  font-family: sans-serif;
  font-weight:120%;
}
div.byline {display:none}

h1 {
  width:70%;
  line-height: 1.2;
  .subtitle {display:block; font-size:80%}
}

// ul.p {background-color:#333}

.byline {
  list-style-type: none;
  margin-bottom:2em;
  .person {font-weight: bold;}
  .affiliation {opacity: 80%; margin-left:2em}
}

.marginnote {
  width:40%;
  margin-right:-10%;
}

h4.marginnote {
  margin-right:-8%;
  margin-top:0;
}